

.orderHistoryCard{
    margin: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.orderHistoryCardIndividual{
   min-width: 100%;
    background-color: #f2f2f2;
    color: #333;
    font-size: 17px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(64, 64, 64, 0.393);
    border-radius: 2px;
    margin: 2em 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
}
ul{
    list-style-type: none;
    min-width: 100%;

}
.orderHistoryCard li{
    margin-top: 2em;
}

.upperContainer{
    display: flex ;
    min-width:100%;
    justify-content: space-between;
}
.lowerContainer{
    min-width: 100%;
}
#buttonDeleteHistory{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: auto;
    margin-top: 2em;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 2px;
    font-size: 17px;
    font-weight: bold;

}
#pOrderHistory{
    margin-left: 5em;
}

@media screen and (max-width: 1000px){
    #responseDateTh, #menuDrinkTh, #allergiesTh, #menuTitleTh,
    #responseDateTd, #menuDrinkTd, #allergiesTd, #menuTitleTd{
        display: none;
        max-width: 10px;
    }
}