
.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: none;
    background-color: #f5f5f5;
    flex-wrap: wrap;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 3%;
    margin-top:3%;
    text-align: center;
}
#menuDateInput{
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#menuTitleInput {
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

#ptitle, #pdate{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menucontainer {
    max-width: 40%;
    min-width: 400px;
    min-height: 100vh;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;

}

.menucontainer input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* make menuTitleInput resizable*/
#menuDescriptionInput {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
}
  
.menucontainerbuttons{
    width: 100%;
    display: flex;
    justify-content : space-around;
}
.menucontainerbuttons button{
    width: 40%;
    padding: 2%;
    margin: 3% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    max-height: 60%;
}
  
.menucontainerbuttons button:hover {
    background-color: #45a049;
}
#optionInput{
    min-width: 100%;
}
.additionalinputs{
    min-width: 100%;
}


.menuresults{
    width: 50%;
    margin: 2%;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
}

.menuresultseach{
    margin: 1%;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
}
#deleteMenuButton{
    width: 100%;
    padding: 2%;
    margin: 3% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ea675e;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    max-height: 60%;

}
#optionsList{
    margin-left: 4%;
    padding: 1%;
}

.savemenucontainer{
    display: flex;
    justify-content: center;
}

#savemenu{    
    width: 40%;
    padding: 2%;
    margin: 3% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    max-height: 60%;
}
#savemenu:hover {
    background-color: #45a049;
}

.previousMenus{
    width: 99%;
    margin: 2%;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
}
.previousMenus td{
    padding: 5px;
    text-align: center;
}
.previousMenus ul{
    list-style-type: none;
    padding: 0;
}
#orderHistoryDescription{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3%;
    margin-top:3%;
    width: 50%;
    text-align: center;
}
#deleteOldMenuButton{
    width: 100%;
    padding: 10%;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ea675e;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    max-height: 60%;
}
#deleteColumn{
    width: 5%;
}
#dateColumn{
    width: 4%;
}
#titleColumn{
    width: 10%;
}