
.navbar{

        min-width: 100vh;
        margin : 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
        background-color: #198ca5;
        color: white;
        
   
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
    position: relative;
}
.navbar a:hover{
    color: black;
}

.logo{
    max-width: 5%;
    display: flex;
align-items: center;
}
.logo img{
    max-width: 100%;
    height: 100%;
}

.navbar button {
    padding: 10px 15px;
    background-color: white;
    color: #198ca5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 button:hover{
    background-color: rgb(51, 48, 48);
}

@media screen and (max-width: 827px){
    .navbar{
        flex-direction: column;
        padding: 20px 0;
    }
    .navbar a{
        margin: 10px 0;
    }
    .logo{
        justify-content: center;
        max-height: 5vh;
    }
    .logo img{
        display: none;
    }
    
}