
.registerContainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;   
    min-width: 100%;
 
    background-image: url(../loginWallpaper.svg) ;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    
}


.registerForm{
    margin-top: 2%;
    margin-bottom: 0%;
    max-width: 50%;
    padding: 0 20%;
    margin-bottom: 2%;
    border: 0.5px solid #5a5a5a2a;
    border-radius: 10px;
    box-shadow: 0 0 10px #5a5a5a80;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #5a5a5a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.registerContainer h1{
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: #5a5a5a;
    margin-top: 7%;
    margin-bottom: 1%;
    text-align: center;

}
.registerForm input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;

}

.registerForm button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background-color: #1976D2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
}
.registerForm button:hover{
    background-color: #29488A;
}
.loginButton
{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    color: #f8f8f8;
    border: none;
    border-radius: 5px;
    margin: 0% 20% 0% 20%;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
}
.loginButton p{
    min-width: 100px;
}
.loginButton a{
color: white;
}


#loginButton{
    min-width: 100%;
    margin-bottom: 5%;
    text-align: center;
    
}

@media  screen and (max-width: 768px) {
    .registerForm{
        min-width: 90%;
    }
}